<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput placeholder="E-Mail" name="email" #emailInput ngModel required email />
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" #password ngModel required name="password" />
      <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="accent">Login</button>
  </form>
</mat-card>
