<mat-spinner *ngIf="isLoading"></mat-spinner>
<form (ngSubmit)="addSavePost()" #postForm="ngForm" *ngIf="!isLoading">
  <mat-card>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter post Title"
        [ngModel]="post?.postTitle"
        name="postTitle"
        required
        #postTitle="ngModel"
      />
      <mat-error *ngIf="postTitle.invalid">Please enter a post Title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        name="postContent"
        placeholder="Enter post Content"
        id="postContent"
        [ngModel]="post?.postContent"
        required
        #postContent="ngModel"
      ></textarea>

      <mat-error *ngIf="postContent.invalid"
        >Please enter a post Content</mat-error
      >
    </mat-form-field>
    <button mat-raised-button type="submit" color="accent">Save post</button>
  </mat-card>
</form>
