<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="postArrays.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let postArray of postArrays">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ postArray.postTitle }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img
        [src]="postArray.imagePath"
        name="image"
        [alt]="postArray.postTitle"
      />
    </div>
    <p>{{ postArray.postContent }}</p>

    <mat-action-row>
      <a [routerLink]="['edit', postArray.id]" mat-raised-button color="primary"
        >EDIT</a
      >
      <button mat-raised-button (click)="onDelete(postArray.id)" color="warn">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator 
*ngIf="postArrays.length > 0"
  [length]="totalPost"
  [pageSize]="postPerPage"
  [pageSizeOptions]="pageSizeOption"
  (page)="onPageChange($event)"
>
</mat-paginator>

<span *ngIf="postArrays.length <= 0 && !isLoading" class="info-text mat-body">
  No post createt Yet</span
>
