<mat-accordion multi="true" *ngIf="postArrays.length > 0">
  <mat-expansion-panel *ngFor="let postArray of postArrays">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{postArray.postTitle}}
      </mat-panel-title>

      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>{{postArray.postContent}}</p>
    <mat-action-row>
      <button mat-raised-button color="primary">EDIT</button>
      <button mat-raised-button (click)="onDelete(postArray.id)" color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
  <span *ngIf="postArrays.length <= 0"  class="info-text mat-body"> No post createt Yet</span>


